body{
  font-size: 16px;
  background-color: black;
}

.hidden{

  display: none;
}

.gameBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  margin:0 auto;
  width:898px;
  height: 35%;

  margin-top: 50px;
  background-image: url(../images/clubBackground.jpg);
}

.dropZones{
  background-image: url(../images/DiscSVG.svg);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.musicDisc{
  width: 100px;
  height:100px;
}

#song1{
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 105px;
  background-color: grey;
  border: black solid 5px;

}

#song2{
  align-self: center;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:103px;
  background-color: grey;
  border: black solid 5px;

}

.dropZones{

}

#DJ{
  height: 420px;
  width: 640px;
  margin-left: -78px;
}

#discDrop{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 850px;
  margin-left: -180px;
}

#djTable{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  /*! background-image: url(../images/BackgroundResized.jpg); */
  background-repeat: no-repeat;
  width:488px;
  height: 600px;
}

.song1Icons{
  width:61px;
  margin:19px;
}

.appendedIcons{
  height: 60px;
}




.Disc{
  margin-right: 5px;
  margin-left: 5px;
  width: 33%;
}





#BeatHolder{
  width:100px;
}


.cls-2{
  fill:#ff008f;
}
.cls-1{fill:#020000;}
.pulsing{
  fill:#ff008f;
  animation-name:pulsing;
  animation-duration:0.5s;
  animation-iteration-count:infinite;

}
#overlay{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 900px;
  height: 800px;
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  align-items: center;
}
#overlay h1{
  margin-top: 50px;
  color: #FF008F;
  font-size: 60px;
  text-align: center;
  width: 100%;

}
#overlay p{
  margin-top: 100px;
  color: #FF008F;
  font-size: 30px;
  width: 600px;
}
#overlay h2{
  color: red;
  font-size: 40px;
  margin-top: 50px;
}
#overlay h2:hover{
  cursor: pointer;
}
.closeOverlay{
  display: none !important
}
#resetBut{
  color: black;
  margin: 10px;
  font-size: 50px;
  font-weight: bold;
  padding: 5px;
  background-color: grey;
  border: 2px solid black;
}
#resetBut:hover{
  cursor: pointer;
}

.overWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
@keyframes pulsing{
  0% {
    fill:#ff008f;
  }
  50%{
    fill:#A80064;
  }
  0%{
    fill:#ff008f;
  }

}
