body{
  font-size: 16px;
  background-color: black;
}

.hidden{

  display: none;
}

.gameBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin:0 auto;
  margin-top: 200px;
  width:1440px;
  height: 1585px;

}

.musicDisc{
  width: 100px;
  height:100px;
}

#song1{
  align-self: center;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 105px;
}

#song2{
  align-self: center;
  width:50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:103px;

}

#djPlace{
  align-self: center;
}

#Xilofone{
  width: 100%;
}

#Alien{
  width: 100%;
}
#Piano{
  width: 100%;
}
.cls-2{
  fill:#ff008f;
}
.cls-1{fill:#020000;}
.pulsing{
  fill:#ff008f;
  animation-name:pulsing;
  animation-duration:0.5s;
  animation-iteration-count:infinite;

}

@keyframes pulsing{
  0% {
    fill:#ff008f;
  }
  50%{
    fill:#A80064;
  }
  0%{
    fill:#ff008f;
  }

}
