body{
  font-size: 16px;
  background-color: black;
}

.hidden{

  display: none;
}

.gameBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  margin:0 auto;
  width:1018px;
  height: 35%;

  margin-top: 50px;
}

.dropZones{
  background-image: url(../images/DiscSVG.svg);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.musicDisc{
  width: 100px;
  height:100px;
}

#song1{
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 105px;
  background-color: grey;
  border: black solid 5px;

}

#song2{
  align-self: center;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:103px;
  background-color: grey;
  border: black solid 5px;

}

.dropZones{

}

#DJ{
  height: 400px;
  width: 640px;
  margin-left: -78px;
}

#discDrop{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 850px;
  margin-left: -180px;
}

#djTable{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  background-image: url(../images/BackgroundResized.jpg);
  background-repeat: no-repeat;
  width:498px;
  height: 570px;
}

.song1Icons{
  width:61px;
  margin:19px;
}

.appendedIcons{
  height: 60px;
}




.Disc{
  margin-right: 5px;
  margin-left: 5px;
  width: 33%;
}





#BeatHolder{
  width:100px;
}


.cls-2{
  fill:#ff008f;
}
.cls-1{fill:#020000;}
.pulsing{
  fill:#ff008f;
  animation-name:pulsing;
  animation-duration:0.5s;
  animation-iteration-count:infinite;

}

@keyframes pulsing{
  0% {
    fill:#ff008f;
  }
  50%{
    fill:#A80064;
  }
  0%{
    fill:#ff008f;
  }

}
