body{
  font-size: 16px;
  background-color: black;
}

.hidden{

  display: none;
}

.gameBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin:0 auto;
  margin-top: 200px;
  width:50%;
  height: 50%;

}

.musicDisc{
  width: 100px;
  height:100px;
}

#song1{
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 105px;
  background-color: grey;
  border: black solid 5px;

}

#song2{
  align-self: center;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:103px;
  background-color: grey;
  border: black solid 5px;

}

#djTable{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  margin-bottom: 50px;
}

.song1Icons{
  margin:5px;
}

.DJPink{
  fill:#d7016f;
  animation-name:glowingStereo;
  animation-duration:0.5s;
  animation-iteration-count:infinite;
}

@keyframes glowingStereo{
  0% {
    fill:#b20262;
  }
  50%{
    fill:#ff008c;
  }

  }



.Disc{
  margin-right: 5px;
  margin-left: 5px;
  width: 150px;
}





#BeatHolder{
  width:100px;
}


.cls-2{
  fill:#ff008f;
}
.cls-1{fill:#020000;}
.pulsing{
  fill:#ff008f;
  animation-name:pulsing;
  animation-duration:0.5s;
  animation-iteration-count:infinite;

}

@keyframes pulsing{
  0% {
    fill:#ff008f;
  }
  50%{
    fill:#A80064;
  }
  0%{
    fill:#ff008f;
  }

}
